{% extends 'base.html' %}

{% block title_page %} {{ work_category.title }} {% endblock title_page %}

{% block content %}
<div class="container text-light">
    <h1 class="fw-bold text-center py-3 heading-style2">{{ work_category.title }}</h1>
    <div class="row">
        {% for work in works %}
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card p-2 my-3 bg-light">
                <img src="{{ work.image.url }}" alt="">
                <h6 class="heading-style2">{{ work.title }}</h6>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}