.bg-img {
    background-image: url('/static/img/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
}

@font-face {
    font-family: firstFont;
    src: url('/static/etc/LeagueSpartan-VariableFont_wght.ttf');
}

@font-face {
    font-family: secondFont;
    src: url('/static/etc/LibreBaskerville-Regular.ttf');
  }

.heading-style1 {
    font-family: firstFont;
}

.heading-style2 {
    font-family: secondFont;
}